params {
    cpus = 32
    ram = '120.GB'
    gsize = '5.5M'
    Racon_polish_steps = 1
    Medaka_polish_steps = 1
    Medaka_model = 'r941_min_sup_g507'
    Polypolish_steps = 1
    Pilon_steps = 0
    illumina_reads_dir = ''
    nanopore_reads_dir = ''
    sample_ids = ''
    output_folder = ''
}

process {
    withName: runDragonflye {
        cpus = params.cpus
        memory = params.ram
    }
}

profiles {
    standard {
        executor = 'local'
        docker.enabled = false
    }
    docker {
        executor = 'local'
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
            temp = '/tmp'
        }
    }
    singularity {
        executor = 'local'
        singularity {
            enabled = true
            autoMounts = true
            temp = '/tmp'
        }
    }
}